.AccountPanel {
    margin: (96rem/24) (200rem/24);
    width: (1500rem/24);
    height: (800rem/24);
    border: (1rem/24) solid #BBB;
    background-color: #FFF;
    padding: (76rem/24) (55rem/24);
    display: flex;
    justify-content: space-between;

    .leftImage {
        width: (760rem/24);
        height: (540rem/24);
        margin-top: (101rem/24);
        background: url("../../Static/Account/cardBackground.png") no-repeat center;
        background-size: contain;
    }

    .rightChildren {
        width: (630rem/24);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}