.ControlPanelContent {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;

    .midPart {
        flex-grow: 1;
        box-sizing: border-box;
    }

    .rightPart {
        flex-shrink: 0;
        box-sizing: border-box;
        width: (460rem/24);
        border-left: (1rem/24) solid #BBB;
    }
}