.AccountManagement {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    padding: (80rem/24) (65rem/24);

    .leftPart, .rightPart {
        width: 50%;
    }

    .leftPart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        border-right: (1rem/24) solid #DDD;
    }


    .avatarUploaderWrapper, .reminderSettingWrapper {
        height: 50%;
    }


    .avatarUploaderWrapper, .passwordChangeWrapper {
        padding: 0 (48rem/24) (24rem/24);
        border-bottom: (1rem/24) solid #DDD;
    }

    .passwordChangeWrapper {
        height: 65%;
    }

    .detailSettingWrapper {
        height: 35%;
    }

    .reminderSettingWrapper, .detailSettingWrapper {
        padding: (24rem/24) (48rem/24) 0;
    }
}