.Root {

    .backgroundLeft {
        position: fixed;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: #949FDB;
    }

    .backgroundRight {
        position: fixed;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: #B0CAF7;
    }
}