.DetailSetting {

    .title {
        font-size: (36rem/24);
        text-align: center;
    }

    .buttonWrapper {
        margin-top: (36rem/24);
        display: flex;
        justify-content: stretch;
    }
}